* {
  box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, 
article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
header {
    width: 25%;
    float: left;
}

img, video {
    max-width: 100%;
    display: block;
    border: solid 1px grey;
}

video {
    margin: 0 auto 4%;
}
video::cue {
    background-image: linear-gradient(to bottom, dimgray, lightgray);
    color: black
}




nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
}

nav li a {
    display: block;
    color:rgb(13, 15, 14);
    text-align:center;
    padding: 0.5em 1em;
    text-decoration: none;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}

.external-link {
    color: #0d0557;
    font-weight: bold;
    text-decoration: none;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding: 0 1em;
}

iframe {
    width: 600px;
    height: 450px;
    border: 2px solid grey;
}