* {
  box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 20px;
    background-color: #d7c0c0;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "menu"
    "main"
    "footer";
    gap: 10px;
    padding: 10px;

}

.header {
    grid-area: header;
    background-color: #b4cb8e;
    text-align: center;
    color: rgb(8, 8, 8);
    padding: 40px;
}
.menu {
  grid-area: menu;
  }
  
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #4fc8f4;
  color: #040404dd;
}

.menu li:hover {
  background-color: #435f68;
}