* {
  box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'menu'
    'main'
    'footer';
    gap: 10px;
    background-color: antiquewhite;

}

.header {
    grid-area: header;
    background-color: #b4cb8e;
    text-align: center;
    color: rgb(8, 8, 8);
    padding: 40px;
}
.menu {
  grid-area: menu;
  }
  
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #4fc8f4;
  color: #040404dd;
}

.menu li:hover {
  background-color: #90a4aa;
}

.content {
    grid-area: main;
    background-color: #b4cb8e;
    text-align: left;
    color: rgb(8, 8, 8);
    padding: 20px;
}

.video {
    grid-area: video;
    background-color: #b4cb8e;
    text-align: right;
    color: rgb(8, 8, 8);
    padding: 20px;

}
.footer {
    grid-area: footer;
    background-color: #b4cb8e;
    text-align: center;
    color: rgb(8, 8, 8);
    padding: 10px;
}
@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 1 / span 2;}
  .content {grid-area: 2 / span 4;}
  .video {grid-area: 3 / span 2;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 1 / span 2;}
  .content {grid-area: 2 / span 4;}
  .video {grid-area: 3 / span 2;}
  .footer {grid-area: 4 / span 6;}
}